.content {
    height: 100vh;
    width: 100%;
    color: white;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.role{
    font-size: 2rem;
    font-weight: 500;
    margin: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
@media screen and (max-width: 768px) {
    .role {
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .divider{
        display: none;
    }
    .content {
      height: auto;
      margin-top: 3rem;
    }
}
.content p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom:0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}
.social {
    margin: 2rem auto;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.socialimg {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: white;
    height: 3rem;
    width: 3rem;
    transition: transform 0.3s ease;
}
.socialimg:hover {
    transform: scale(1.15);
}
@media screen and (max-width: 600px) {
    .social {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem auto;
    }
}
